# Flask Config
FLASK_ENV=development
APP_SECRET_KEY=thay_bang_key_cua_ban

# Database
DATABASE_URL=mysql+pymysql://user:password@localhost:3306/db_name

# Email Config
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

# TMDB API
TMDB_API_KEY=your_api_key_here